
@{
    ViewBag.Title = "Results";
}
<style>
    .Book {
        margin: 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        vertical-align: central;
        border: none;
    }

    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }

    .fs-7 {
        font-size: 0.7rem !important;
    }
</style>
<h2 class="text-center text-white">Result</h2>
<hr class="border-light" />
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="input-group mb-3 me-1">
            <span class="input-group-text text-white bg-primary" id="basic-addon1">Branch Name</span>
            <select id="ddlBranch" class="form-select" onchange="getResultList()">
            </select>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="input-group mb-3 me-1">
            <span class="input-group-text text-white bg-primary" id="basic-addon1">Session</span>
            <select id="ddlSession" class="form-select" onchange="getResultList()">
                <option>2020-2024</option>
                <option>2021-2025</option>
                <option>2022-2026</option>
            </select>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="input-group mb-3 me-1">
            <span class="input-group-text text-white bg-primary" id="basic-addon1">Semester</span>
            <select id="ddlSem" class="form-select" onchange="getResultList()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="input-group mb-3 me-1">
            <span class="input-group-text text-white bg-primary" id="basic-addon1">Exam Type</span>
            <select id="ddlExamType" class="form-select" onchange="getResultList()">
                <option value="I">Internal</option>
                <option value="E">External</option>
            </select>
        </div>
    </div>
    @if (Session["UserRole"] != null && (Session["UserRole"].ToString().Equals("F") || Session["UserRole"].ToString().Equals("A")))
    {
        <div class="col-lg-2 col-md-2 col-sm-12">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Upload Result
            </button>
        </div>
    }
    <div class="col-lg-12">
        <div class="row" id="ResultShow">
            <div class="col-lg-2 col-md-2">
                <div class="card Book">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-title">@DateTime.Now</p>
                        <a href="#!" class="btn btn-primary" data-mdb-ripple-init><i class="fa fa-download"></i> Download</a>
                        <a href="#!" class="btn btn-danger" data-mdb-ripple-init><i class="fa fa-trash"></i> Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--model for upload result-->
    <!-- Button trigger modal -->
    <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>-->
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content dark-theme">
                <div class="modal-header text-white">
                    <h5 class="modal-title" id="staticBackdropLabel">Upload Result</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                                <input type="file" class="form-control" id="fileUpload">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="lblTitle">Title</span>
                                <input type="text" id="txtTitle" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="lblTitle">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="lblDesc">Description</span>
                                <input type="text" id="txtDesc" class="form-control" placeholder="" aria-label="Username" aria-describedby="lblDesc">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Branch</span>
                                <select id="ddlBranchM" class="form-select"></select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Session</span>
                                <select id="ddlSessionM" class="form-select">
                                    <option>2020-2024</option>
                                    <option>2021-2025</option>
                                    <option>2022-2026</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Session</span>
                                <select id="ddlExmaTypeM" class="form-select">
                                    <option value="I">Internal</option>
                                    <option value="E">External</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Semester</span>
                                <select id="ddlSemM" class="form-select">
                                    <option value="">--SELECT--</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="uploadResult()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var role = '@Session["UserRole"]'!=''?'@Session["UserRole"]':"";
    var allDdl = [];
    $(() => {
        getDdlData();
    });

    function getDdlData() {
        $.ajax({
            url: `@Url.Action("GetAllDropdownList", "DashBoard")`,
            method: "GET",
            beforeSend: function (xhr) {
                console.log("Before Section");
            },
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            statusCode: {
                404: function () {
                    alert("page not found");
                },
                505: function () {
                    alert("Internal Server Error");
                }
            }
        }).done(function (e) {
            console.table(e);

        }).always(function (e) {
            allDdl = e;
            ddlBind("ddlBranch", e.DeptList, '--SELECT--','');
            ddlBind("ddlBranchM", e.DeptList, '--SELECT--','');
            getResultList();
        });
    }

    function ddlBind(id, dataList, optionMsg, optionVal) {
        $(`#${id}`).empty();

        let option = `<option value='${optionVal}'>--${optionMsg}--</option>`;
        if (dataList != null && dataList.length > 0) {
            $.each(dataList, function (i, e) {
                option += `<option value='${e.VALUE}'>${e.TEXT}</option>`
            });
        }
        $(`#${id}`).html(option);
    }


    function deleteFile(id,FName)
    {
         $.ajax({
            url: `@Url.Action("DeleteResult", "UserManagement")`,
            method: "DELETE",
            beforeSend: function (xhr) {
                console.log("Before Section");
            },
            dataType: 'json',
             data: JSON.stringify({ ASST_ID: id, FileName: FName}),
            contentType: 'application/json;charset=utf-8',
            statusCode: {
                404: function () {
                    alert("page not found");
                },
                505: function () {
                    alert("Internal Server Error");
                }
            }
        }).done(function (e) {

            alert(e);
        }).always(function (e) {

        });
    }



    //api calling for result list
    function getResultList() {
        Branch = $('#ddlBranch option:selected').val();
        Session = $('#ddlSession option:selected').val();
        Sem = $('#ddlSem option:selected').val();
        ExamType = $('#ddlExamType option:selected').val();


        $.ajax({
            url: `@Url.Action("ViewResult", "UserManagement")?Session=${Session}&Branch=${Branch}&ExamType=${ExamType}&Sem=${Sem}`,
            method: "GET",
            beforeSend: function (xhr) {
                console.log("Before Section");
            },
            dataType: 'json',
            /*contentType: 'application/json;charset=utf-8',*/
            statusCode: {
                404: function () {
                    alert("page not found");
                },
                505: function () {
                    alert("Internal Server Error");
                }
            }
        }).done(function (e) {
        }).always(function (e) {
            console.table(e);
            generateCard(e);
        });


    }


    function uploadResult() {
        let dataSet = {
            TITLE: $('#txtTitle').val(),
            DESCRIPTION: $('#txtDesc').val(),
            BRANCH_ID: $('#ddlBranchM option:selected').val(),
            SESSION_DATE: $('#ddlSessionM option:selected').val(),
            SEM: parseInt($('#ddlSemM option:selected').val()),
            EXAM_TYPE: $('#ddlExmaTypeM option:selected').val(),
        }

        var formData = new FormData();
        formData.append('saveObject', JSON.stringify(dataSet));
        formData.append('UploadedFile', $('#fileUpload')[0].files[0]);

        $.ajax({
            url: `@Url.Action("UploadResult", "UserManagement")`,
            method: "POST",
            beforeSend: function (xhr) {
                console.log("Before Section");
            },
            dataType: 'json',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            statusCode: {
                404: function () {
                    alert("page not found");
                },
                505: function () {
                    alert("Internal Server Error");
                }
            }
        }).done(function (e) {
            console.table(e);
            console.log("success Section");

            alert(e);
        }).always(function (e) {
            console.log("complete Section");
            //alert("complete section");
        });
    }


    function generateCard(dataSet) {
        let row = '';
        if (dataSet != null && dataSet.length>0) {
            $.each(dataSet, function (i,e) {
                row += `<div class="col-lg-2 col-md-2">
                            <div class="card Book">
                                <img src="../Content/Images/resultImage.png" class="card-img-top" alt="result" />
                                <div class="card-body">
                                    <h5 class="card-title">${e.TITLE}</h5>
                                    <p class="card-text">${e.DESCRIPTION}</p>
                                    <p class="card-title">Uploaded Date: ${moment(e.UPLOAD_DATE).format("DD-MM-YYYY")}</p>
                                    <a href="@Url.Action("DownloadResult", "UserManagement")?Filename=${e.FILE_NAMES}&contentType=${e.FILE_TYPE}" download="${e.FILE_NAMES}" class="btn btn-primary" data-mdb-ripple-init><i class="fa fa-download"></i> Download</a>`;
                                    if (role == "F" || role == "A") {
                                        role += `<button class="btn btn-danger invisible" onclick="deleteFile('${e.RESULT_ID}','${e.FILE_NAMES}')"><i class="fa fa-trash"></i> Delete</button>`;
                                    }
                                    
                 row +=         `</div>
                            </div>
                        </div>`;
                });
        }
        $('#ResultShow').html(row);

    }
</script>
